# node
node_modules/

# next
.next/
next-env.d.ts
out/

# yarn
yarn-error.log

# ts
tsconfig.tsbuildinfo
dist/
*.d.ts
*.d.ts.map
*.js.map

# environment variables
.env
.env.local

# docker
docker-compose.override.yml
